$desktop-width: 1000px;
$tablet-width: 600px;


@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin transition-anim{
  transition: all 0.4s linear;
}
