@import 'reset';
@import 'mixins';
@import 'fonts';

body {
    background-color: black;
}

.dashboard {
     min-height: 87vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
      font-family: 'open_sans';
    @include tablet {
        flex-direction: row;
    }
    @include desktop {
        justify-content: flex-start;
    }
}


.topics {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    @include tablet {
        margin: 0;
    }
}

.drop-down-menu {
    margin: 0 auto;
    font-family: 'open_sans';
    font-size: 1.1rem;
    font-weight: bold;
}

h2 {
    color: white;
    padding: 15px;
}


.article-text{
  font-family: 'open_sans';
  color:white;
  background-color: rgba(0, 0, 0, 0.6);
  line-height: 1.5;
  padding: 10px 10px;
}

.article-list{
  display:flex;
  flex-wrap: wrap;
}

.article-container{
    display:flex;
    align-items:flex-end;
    flex-basis: 100%;
    height: 420px;
    background-position: 50%;
    background-size: cover;

    @include tablet {
        flex-basis: 50%;
    }
    @include desktop {
        flex-basis: 25%;
    }
}

footer {
  font-family: 'open_sans';

    text-align: center;
    color: #c2c2c2;
    display: block;
    width: 100%;
     position: absolute;
    bottom: 0;
    height: 80px;
    margin-top: 80px;
    @include desktop {
        text-align: left;
    }
}
