@import 'reset';
@import 'mixins';
@import 'fonts';

body {
    background-color: black;
}

a {
    display: hidden;
}

.dashboard {
    min-height: 89vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'open_sans';
    @include tablet {
      padding-right: 110px;
        flex-direction: row;
    }
    @include desktop {
        justify-content: flex-start;
    }
}

.logo{
  @include tablet {
      width:24vw;
  }
  @include desktop {
      width:auto;
      margin-left: 30px;
      justify-content: flex-start;
  }

}

.topics {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    @include tablet {
        margin: 0;
    }
    @include desktop {
      padding-left: 5vw;
    }
}

.drop-down-menu {
    margin: 0 auto;
    font-family: 'open_sans';
    font-size: 1.1rem;
    padding: 0 50px;
}

h2 {
    color: white;
    font-size: 0.8rem;
    padding: 15px;
}

.article-text {
    font-family: 'open_sans';
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    line-height: 1.5;
    padding: 10px;
}

.article-list {
    display: flex;
    flex-wrap: wrap;
}

.article-container {
    display: flex;
    align-items: flex-end;
    flex-basis: 100%;
    height: 420px;
    background-position: 50%;
    background-size: cover;
    @include tablet {
        flex-basis: 50%;
    }
    @include desktop {
        flex-basis: 25%;
    }
}

.article-container:hover {
    cursor: pointer;
}

footer {
    font-family: 'open_sans';
    text-align: center;
    color: #c2c2c2;
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 30px;
    margin-top: 30px;
    font-size: 0.9rem;
    @include desktop {
        text-align: left;
    }
}
